 <div class="pull-right">
      <div class="box">
          <iframe style="border: 0; width: 350px; height: 442px;" src="http://bandcamp.com/EmbeddedPlayer/track=1003322500/size=large/bgcol=333333/linkcol=ffffff/notracklist=true/transparent=true/" seamless><a href="http://electricoak.bandcamp.com/track/bloody-feet-acoustic">Bloody Feet (acoustic) by Electric Oak</a></iframe>
      </div>
      
      <div class="box">
        <iframe width="348" height="196" src="//www.youtube.com/embed/R788CYKcuS4" frameborder="0" allowfullscreen></iframe>
      </div>
      
      <div class="box" style="overflow:scroll;height:350px">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/ElectricOak" data-widget-id="377687615312384000">Tweets by @ElectricOak</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      
      <div class="box">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FElectricOak&amp;width=339&amp;height=427&amp;colorscheme=dark&amp;show_faces=false&amp;header=true&amp;stream=true&amp;show_border=false&amp;appId=193700460708229" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:339px; height:427px;" allowTransparency="true"></iframe>
      </div>
    
</div>

<style>

.box{
  background-color: #303030;
  margin-bottom:30px;
  margin-left:2%;
  padding-right: 7px;
  padding-left: 4px;
  padding-bottom: 4px;
  padding-top: 7px;
  border-radius: 10px;
  
}


</style>