<% unless @banner.blank?%>

<!-- Carousel
    ================================================== -->

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner" style="height:300px">
        <div class="item active ">
           <img src="../assets/examples/slide-03.jpg" alt="">
            <div class="container">
              <div class="carousel-caption">
                <h1>Electric Oak</h1>
                <p class="lead">Upcoming show in October
                  Check us out in Copper owl on 5th</p>
              </div> 
                </div>
         
        </div>
      <% if !@banner[1].blank?%><div class="item">
               <div><%= image_tag @banner[1].image_url%></div>
                 <div class="container">
                   <div class="carousel-caption">
                     <h1>La la la...</h1>
                     <p class="lead"></p>
                   </div>
                 </div>
               </div>
      <% end%>
      <div class="item">
      <div id="first_image"><%= image_tag @banner.first.image.banner_med%></div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<% end %>



<%= javascript_tag do %>
  !function ($) {
    $(function(){
      // carousel demo
      $('#myCarousel').carousel()
    })
  }(window.jQuery)
<% end %>