<div class="container" style="background:white;margin-top: 36px;">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <%= image_tag @banner[1].image, :class => "featurette-image pull-right circular first" %>
    <h2 class="featurette-heading">Electric Oak <span class="muted">Will blow your mind.</span></h2>
    <p class="lead">Singer songwriters Alec Myring and Bob Gronotte had played music together on and off for a number of years. Now, having recently found themselves once again living in the same city working hard and collaborating on their own original music it was clear that they needed and wanted more to show for the hours of writing and playing in a basement.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <%= image_tag @banner[1].image, :class => "featurette-image pull-left circular" %>
    <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
    <p class="lead">Cue Electric Oak.
    Electric Oak was formed with the edition of drummer Ben Godfrey, a Victoria native, and Bass player Atul Jha, who had only arrived in Canada from India three months prior to joining the band.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
     <%= image_tag @banner[0].image, :class => "featurette-image pull-right circular  first" %>
    <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
    <p class="lead"> With the edition of these uniquely accomplished musicians, songs that were originally written to stand alone with an acoustic guitar and a singer, have taken on new life and new meaning.</p>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


</div>