

<%= render :partial => "banner" %>
<div class="container"  >
  <%= render :partial => "news", :locals => {:news => @news}%>
  <%= render :partial => "blog", :locals => {:blogs => @blop}%>
</div>



