<div style="position:relative;height:350px;overflow:hidden;margin-bottom:20px"><%= image_tag @banner[0].image, :style => "position: relative;top: -195px;"%></div>
<div class="container"  >
   
    <%= render :partial => "news", :locals => {:news => @news}%>
    <%= render :partial => "blog", :locals => {:blogs => @blop}%>
    <%= render :partial => "shared/sidebar"%>
</div>



