<h1>Welcome from Electric Oak!</h1>
<p>
  You've found the home page of
  <%= link_to "Electric Oak", "https://www.facebook.com/ElectricOak?ref=br_tf" %>
  band.
</p>
<p>
  <%= link_to "Rock!", '#' %>
</p>