<div class="container">
  <H1>IMAGE GALLERY</H1>

  <%= render :partial => "gallery"%>
  <div class="row-fluid loader"style="background-color:black;">
    <div class="gal_img"><%= image_tag @pictures[0].image.large%></div>
  </div>

</div>
  

<%= javascript_tag do %>
pic = new sort_pictures(<%= @pictures.to_json.html_safe%>);
<% end %>

<style>
.gal_img{
  margin-left: 7%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 7%;

}
.gal_img img{
  border-radius: 5px;
}

.row-fluid{
  border-radius: 10px;
}

</style>


