<div class="container">
  <H1>IMAGE GALLERY</H1>

  <%= render :partial => "gallery"%>
  <div class="row-fluid loader"style="background-color:black;">
    <div class="gal_img picture"><%= image_tag @pictures[0].image.large%></div>
  </div>

</div>
  

<%= javascript_tag do %>
pic = new sort_pictures(<%= @pictures.to_json.html_safe%>);
<% end %>


