// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.google-image{
  margin-bottom: 3%;
}
.elec a {
 color:white;
}
.panel_contact{
  background:white;
  display:none;
  color:black;
}
.panel_contact form{
  margin-left: 4%;
  padding-bottom: 1%;
}